/* Elements for my website */
/* Fonts added */
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

body {
  background-color: #fff9f0;
  font-size: 10pt;
  font-family: ms gothic;
  color: #0d496c;
  background-image: url(fig/engin-akyurt-gJILnne_HFg-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;

}

p {
  line-height: 7px;
  margin-top: -5px;
}

a:link {
  color: #8cc0ed;
  text-decoration:underline;
}

a:visited {
  color: #4b7acc;
}

a:hover {
  color: #cf83d1;
}

a:active {
	color: #211a0e;
}

.container {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 700px;
  margin: auto;
  border: 2px solid #273b0500;
  background: #58750e00;
  border-radius: 20px;
  overflow-y: auto; /* enables vertical scrolling if content grows */
  padding: 1px;
  gap: 0px;
}


.webmaster {
  background-color: #fffbf6;
  box-shadow: 4px 4px 4px inset white,-3px -3px 3px inset #d6b6a9;
  padding: 10px;
  border: 1px solid #273B05;
  grid-area: webmaster;
  border-top-left-radius: 20px;
  justify-content: center;
  align-content: center;
  display: block;
  scrollbar-width: none;
}

.header {
  background-image: url(https://file.garden/ZpbLWAeDJ0qCfnKS/cloverbg.jpg);
  background-color: #8cba1a;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
  border: 1px solid #273B05;
  grid-area: header;
  border-top-right-radius: 20px;
}

.nav {
  background-color: #fffbf6;
  align-self: left;
  box-shadow: 4px 4px 4px inset white,-3px -3px 3px inset #d6b6a9;
  padding: 5px;
  border: 1px solid #b7bc72;
  grid-area: nav;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  scrollbar-width: none;
}

.main {
  background-color: #fffbf6;
  box-shadow: 4px 4px 4px inset white,-3px -3px 3px inset #d6b6a9;
  padding: 5px;
  border: 1px solid #273B05;
  overflow-y: scroll;
  grid-area: main;
  scrollbar-width: none;
}

.footer {
  background-color: #fffbf6;
  box-shadow: 4px 4px 4px inset white,-3px -3px 3px inset #d6b6a9;
  padding: 10px;
  border: 1px solid #273B05;
  grid-area: footer;
  border-bottom-right-radius: 10px;
  scrollbar-width: none;
  height: 900px;
  width: 300px;
}

.section {
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 1rem;
    margin: 1.5rem;
    width: 500px;
    line-height: 1.3;
    margin-left: 2.5rem;
}

.lilguy{
    background-image: url(fig/Sprite-0002.png);
      position: absolute;
    margin-left: 28rem;
  margin-top: -16rem;}
   